<% if @current_user %>
<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place.id %>"><%= place.name %></a></li>
  <% end %>
</ul>

<p>
  <a href="/places/new" class="btn btn-primary"> Add a New place</a>
</p>

<% else %>
  Login or register to post! 
<% end %>